[submodule "ytkim4558.github.io"]
	path = ytkim4558.github.io
	url = https://github.com/ytkim4558/ytkim4558.github.io.git
[submodule "output"]
	path = output
	url = https://github.com/ytkim4558/ytkim4558.github.io.git
